@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lora-Regular.ttf')  format('truetype');
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #232525;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 70px;
}

.editor {
  width: 600px;
  margin: 0 auto;
}
